<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALLURE" class="com.flamingo.qa.report.AllureLogAppender"/>

    <logger name="com.flamingo.qa" level="${log.level:-INFO}">
        <appender-ref ref="ALLURE"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
